*.pyc
*.log
*.inv
*.prof

.DS_Store
.coverage

.idea/
.cache/
.project/
.pydevproject/
.settings/

doc/sphinx/_build/
doc/sphinx/_static/
doc/sphinx/_templates/

doc/doxygen/_build/
doc/doxygen/_static/
doc/doxygen/_work/

*.egg-info
build/
dist/

dev.py

test/profile/