git+https://github.com/pbrisk/mitschreiben
git+https://github.com/pbrisk/unicum
git+https://github.com/pbrisk/goma
git+https://github.com/pbrisk/businessdate
git+https://github.com/pbrisk/dcf
git+https://github.com/pbrisk/mathtoolspy
git+https://github.com/pbrisk/putcall
git+https://github.com/pbrisk/timewave
git+https://github.com/pbrisk/shortrate
